* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body,
html {
    height: 100%;
}

.contenedor {
    display: flex;
    height: 100vh;
}

.seccion-izquierda {
    width: 50%;
    background-color: #4299FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-izquierda img {
    max-width: 80%;
    max-height: 80%;
    border: 2px solid white;
    border-radius: 10px;
}

.seccion-derecha {
    width: 50%;
    display: flex;
    /* Flexbox para centrar el formulario*/
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    background-color: white;
}

.contenido-login {
    text-align: left;
    max-width: 350px;
    width: 100%;
    padding: 20px;
}

.contenido-login h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center;
}

.contenido-login p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.contenido-login label {
    align-self: bold;
    margin: 10px 0 5px;
    display: block;
}

.contenido-login input:focus {
    border-color: #727a87;
    outline: none;
}

.contenido-login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

.contenido-login button {
    width: 100%;
    padding: 10px;
    background-color: #4299FF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 0;
}

.contenido-login button:hover {
    background-color: #1c7ed6;
}

.contenido-login a {
    text-align: right;
    color: #1e90ff;
    margin-top: 20px;
    text-decoration: none;
    font-size: 0.9rem;
}

.contenido-login a:hover {
    text-decoration: underline;
}

.enlace-registro {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.opciones-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.olvidar-contenedor {
    display: flex;
    align-items: center;
}

.olvidar-contraseña {
    margin: 0;
    line-height: 1.5;
    font-size: 0.9rem;
}

/* .olvidar-contraseña {
    display: inline-flex;
    align-items: center;
} */

.enlace-registro a {
    color: #1e90ff;
    text-decoration: none;
}

.enlace-registro a:hover {
    text-decoration: underline;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media screem and (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .seccion-izquierda {
        width: 100%;
        height: 20px;
    }

    .seccion-derecha {
        width: 100%;
        padding: 20px;
    }

    .contenido-login {
        max-width: 300px;
    }
}