<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/Prototipo_navegacional_Web/menu/menu.css">
    <link rel="stylesheet" href="configuracion.css">
</head>

<body>
    <nav class="barra-lateral">
        <header>
            <div class="logo">
                <img id="imagen" src="/Prototipo_navegacional_Web/menu/logo.jpg" alt="Logo">
            </div>
        </header>

        <div class="menu-barra">
            <div class="menu">
                <ul class="enlaces-menu">
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/inicio/inicio.html">
                            <i class='bx bx-home icon'></i>
                            <span class="texto nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/nueva-venta/nueva-venta/nueva-venta.html">
                            <i class='bx bx-cart-add icon'></i>
                            <span class="texto nav-text">Nueva venta</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/ventas/ventas.html">
                            <i class="bx bx-cart icon"></i>
                            <span class="texto nav-text">Ventas</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/productos/consultar/consultar-productos.html">
                            <i class="bx bx-box icon"></i>
                            <span class="texto nav-text">Productos</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/proveedores/consultar/consultar-proveedores.html">
                            <i class="bx bx-user icon"></i>
                            <span class="texto nav-text">Proveedores</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/empleados/agregar/agregar-empleados.html">
                            <i class="bx bx-user icon"></i>
                            <span class="texto nav-text">Empleados</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/reportes/reporte-stock/reporte-stock.html">
                            <i class="bx bx-package icon"></i>
                            <span class="texto nav-text">Reportes</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="/Prototipo_navegacional_Web/usuarios/consultar-usuarios/consultar-usuarios.html">
                            <i class="bx bx-group icon"></i>
                            <span class="texto nav-text">Usuarios</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- <div class="contenido-inferior">
                <li class="enlace-nav">
                    <a href="/Prototipo_navegacional_Web/configuracion/configuracion.html">
                        <i class="bx bx-cog icon"></i>
                        <span class="texto nav-text">Configuración</span>
                    </a>
                </li>
            </div> -->
        </div>
    </nav>

    <header class="titulo-principal">
        <h2>Configuración de Perfil</h2>
        <section>

            <div class="busqueda">
                <i class="bx bx-search icono-busqueda"></i>
                <input type="search" id="searchInput" placeholder=" Buscar...">
            </div>

            <!-- MENU DESPLEGABLE DE LAS NOTIFICACIONES -->
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button">
                    <i class='bx bx-bell'></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="notification-item" href="#">No hay notificaciones aun</a></li>
                </ul>
            </div>

            <!-- MENU DESPLEGABLE DEL USUARIO -->
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle dropdown-toggle2" type="button">
                    <i class='bx bx-user usuario'></i>
                </button>
                <ul class="dropdown-menu dropdown-menu2">
                    <li><a class="dropdown-item" href="#">Abarrotes Reyes</a></li>
                    <li><a class="dropdown-item"
                            href="/Prototipo_navegacional_Web/configuracion/configuracion.html">Configuración</a></li>
                    <li><a class="dropdown-item"
                            href="/Prototipo_navegacional_Web/login/inicio-sesion/inicio-sesion.html">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>

        </section>
    </header>

    <main>
        <!-- <div class="primer-apartado">
            <div class="busqueda">
                <i class="bx bx-search icono-busqueda"></i>
                <input type="search" placeholder="Buscar Empleados..." aria-label="Buscar Empleado">
            </div>
            <div>
                <a href="/empleados/consultar/consultar-empleados.html">
                <button class="consultar-empleado">
                <i class="bx bx-search"></i>Consultar</button>
                </a>
            </div>
        </div> -->

        <div class="formulario">
            <form action="#">
                <div class="seccion1">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="contraseña-actual">Contraseña actual:</label>
                        <input type="password" name="contraseña-actual" placeholder="Contraseña actual" required>
                    </div>
                </div>
                <div class="seccion2">
                    <div class="form-group">
                        <label for="correo">Correo electrónico:</label>
                        <input type="email" name="correo" placeholder="Correo electrónico" required>
                    </div>
                    <div class="form-group">
                        <label for="contraseña-nueva">Nueva contraseña:</label>
                        <input type="password" name="contraseña-nueva" placeholder="Nueva contraseña" required>
                    </div>
                </div>
                <div class="seccion3">
                    <div class="form-group">
                        <label for="confirmacion">Confirmar contraseña:</label>
                        <input type="password" name="confirmacion" placeholder="Confirmar contraseña" required>
                    </div>
                </div>
                <div class="botones">
                    <div class="btn-cancelar">
                        <a href="/configuracion/configuracion.html">
                            <button type="button">Cancelar</button>
                        </a>
                    </div>
                    <div class="btn-agregar">
                        <button type="submit">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <script src="configuracion.js"></script>

    <script>
        function redirigirUsuario() {
            var select = document.getElementById("cambiar_usuario");
            var opcionSeleccionada = select.value;

            // Redirige si seleccionan "Cerrar sesión"
            if (opcionSeleccionada === "cerrar_sesion") {
                window.location.href = "/landing/landing.html";
            }
        }
    </script>
</body>

</html>