<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Empleados</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="stylesheet" href="../styles/pages/empleados.css">
</head>

<body>
    <nav class="barra-lateral">
        <header>
            <div class="logo">
                <img id="imagen" src="../assets/img/logo.jpg" alt="Logo">
            </div>
        </header>

        <div class="menu-barra">
            <div class="menu">
                <ul class="enlaces-menu">
                    <li class="enlace-nav">
                        <a href="./dashboard.html">
                            <i class='bx bx-home icon'></i>
                            <span class="texto nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="./nueva-venta.html">
                            <i class='bx bx-cart-add icon'></i>
                            <span class="texto nav-text">Nueva venta</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="./ventas.html">
                            <i class="bx bx-cart icon"></i>
                            <span class="texto nav-text">Ventas</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="./productos.html">
                            <i class="bx bx-box icon"></i>
                            <span class="texto nav-text">Productos</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="./proveedores.html">
                            <i class="bx bx-user icon"></i>
                            <span class="texto nav-text">Proveedores</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="./empleados.html">
                            <i class="bx bx-user icon"></i>
                            <span class="texto nav-text">Empleados</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="./reportes-stock.html">
                            <i class="bx bx-package icon"></i>
                            <span class="texto nav-text">Reportes</span>
                        </a>
                    </li>
                    <li class="enlace-nav">
                        <a href="./usuarios.html">
                            <i class="bx bx-group icon"></i>
                            <span class="texto nav-text">Usuarios</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- <div class="contenido-inferior">
                <li class="enlace-nav">
                    <a href="/configuracion/configuracion.html">
                        <i class="bx bx-cog icon"></i>
                        <span class="texto nav-text">Configuración</span>
                    </a>
                </li>
                
            </div> -->
        </div>
    </nav>

    <header class="titulo-principal">
        <h2>Gestión de Empleados</h2>
        <section>

            <!-- <div class="busqueda">
                <i class="bx bx-search icono-busqueda"></i>
                <input type="search" id="searchInput" placeholder=" Buscar...">
            </div>
               -->
            <!-- MENU DESPLEGABLE DE LAS NOTIFICACIONES -->
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button">
                    <i class='bx bx-bell'></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="notification-item" href="#">No hay notificaciones aun</a></li>
                </ul>
            </div>

            <!-- MENU DESPLEGABLE DEL USUARIO -->
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle dropdown-toggle2" type="button">
                    <i class='bx bx-user usuario'></i>
                </button>
                <ul class="dropdown-menu dropdown-menu2">
                    <li><a class="dropdown-item" href="#">Abarrotes Reyes</a></li>
                    <li><a class="dropdown-item"
                            href="./configuracion.html">Configuración</a></li>
                    <li><a class="dropdown-item"
                            href="./login.html">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>

        </section>
    </header>

    <main>
        <div class="primer-apartado">
            <div class="busqueda">
                <i class="bx bx-search icono-busqueda"></i>
                <input type="search" id="busqueda2" placeholder="Buscar..." aria-label="Buscar Empleados">
            </div>
            <div>
                <a href="../../empleados/agregar/agregar-empleados.html">
                    <button class="nuevo-empleado">
                        <i class="bx bx-plus"></i>Agregar</button>
                </a>
            </div>
        </div>
        <div class="tablas-informacion">
            <table id="tablaEmpleados">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Teléfono</th>
                        <th>CURP</th>
                        <th>Operaciones</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td-operaciones">
                            <div class="btn-contenedor">
                                <a href="../../empleados/agregar/agregar-empleados.html">
                                    <button class="btn-editar"><i class="bx bx-edit"></i></button>
                                </a>
                                <button class="btn-eliminar"><i class="bx bx-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td-operaciones">
                            <div class="btn-contenedor">
                                <a href="../../empleados/agregar/agregar-empleados.html">
                                    <button class="btn-editar"><i class="bx bx-edit"></i></button>
                                </a>
                                <button class="btn-eliminar"><i class="bx bx-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td-operaciones">
                            <div class="btn-contenedor">
                                <a href="../../empleados/agregar/agregar-empleados.html">
                                    <button class="btn-editar"><i class="bx bx-edit"></i></button>
                                </a>
                                <button class="btn-eliminar"><i class="bx bx-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td-operaciones">
                            <div class="btn-contenedor">
                                <a href="../../empleados/agregar/agregar-empleados.html">
                                    <button class="btn-editar"><i class="bx bx-edit"></i></button>
                                </a>
                                <button class="btn-eliminar"><i class="bx bx-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="consultar-empleado.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>