<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../styles/pages/recuperar-contrasena.css">
</head>

<body>

    <main>

        <section id="card">
            <div class="container">
                <h2>Recuperar contraseña</h2>
                <form action="#">
                    <label for="nueva">Ingrese su nombre:</label>
                    <input type="text" id="nueva" name="nueva" required placeholder="Ingrese su nombre"><br>
                    <label for="confirmar">Ingrese su correo electrónico:</label>
                    <input type="email" id="confirmar" name="confirmar" placeholder="Ingrese su correo electrónico:">
                    <div class="btn">
                        <a href="../views/login.html">
                            <button type="button" class="rojo">Cancelar</button>
                        </a>
                        <a href="../views/restablecer-contrasena.html">
                            <button type="button" class="azul">Enviar</button>
                        </a>
                    </div>

                </form>
            </div>
        </section>

    </main>


</body>

</html>